// pc
.containerPC {
    border: 1px solid #ddd;
    height: 100%;
    .btn {
        padding: 4px 6px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .title {
        text-align: center;
    }
    .content {
        display: flex;
        height: 100%;
        align-items: flex-start;
        text-align: center;
        .btn {
            padding: 4px 6px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .main {
        width: 578px;
        height: 555px;
        border: 1px solid #f00;
        }
        .left,
        .right {
        flex: 2;
        }
    }
}

// h5
.containerH5 {
    width:100%;
    .header{
        line-height:80px;
        border-bottom:1px solid #ddd;
        text-align:center;
    }
    .content{
        padding:0 6px;
        height:267px;
        border-bottom:1px solid #ddd;
    }
}